#heading{
    background-color: greenyellow;
    text-align: center;
}

h1 {
    color: darkblue;
}

td{
    padding: 10px;
}

.contact-row{
    padding-left:50px;
}

.contact-header{
    background-color:lightslategray;
}

.single-contact{
    width: 35%;
    float:right;
    background-color: darkgrey;
}

.contact-details{
    color: greenyellow;
}

.odd-row{
    background-color: lightgray;
}

button{
    margin: 5px;
}